#commentDiv {
    background-color: #FFF;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#commentDiv .comment_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

#commentDiv .comment_head .head_text {
    font-size: 18px;
    font-weight: 700;
}

#commentDiv .comment_body {
    display: flex;
    flex-direction: column;
}

#commentDiv .comment_detail, #commentDiv .comment_reply {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#commentDiv .comment_reply {
    margin-left: 65px;
}

#commentDiv .comment_body .comment_reply:first-of-type {
    margin-left: 65px;
    margin-top: 10px;
}

#commentDiv .comment_detail .detail_left {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

#commentDiv .comment_reply .reply_detail_left {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

#commentDiv .comment_detail .detail_right, #commentDiv .comment_reply .reply_detail_right {
    display: flex;
    flex-direction: column;
}

#commentDiv .comment_detail .detail_right>div, #commentDiv .comment_reply .reply_detail_right>div {
    margin-bottom: 8px;
}

#commentDiv .comment_detail .detail_right .detail_right_bottom,
#commentDiv .comment_reply .reply_detail_right .reply_detail_right_bottom {
    display: flex;
    flex-direction: row;
    min-width: 280px;
    justify-content: space-between;
}

#commentDiv .comment_detail .detail_right .detail_right_bottom .right {
    text-decoration: underline;
}